@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap');

@font-face {
    font-family: Helvetica;
    src: url("../fonts/Helvetica.ttf");
}


/* -------------------------------unviversal selector---------------------------------------- */
* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none !important;
    list-style: none !important;
}

/*++++++++++++++++++++++++++++++++++++++ normal css +++++++++++++++++++++++++++++++++++++++++++*/
.max-w_436 {
    max-width: 436px;
}

.scroll_to_top {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    position: fixed;
    bottom: 2%;
    right: 2%;
    cursor: pointer;
    z-index: 30;
    animation: toTop 1s infinite;
    transition: all 300ms linear;
}

.media_app {
    transition: all 300ms linear;
}

.max-w-1000 {
    max-width: 1000px;
}

.input-border {
    border: 1px solid rgba(255, 255, 255, 0.16);
    background-color: transparent;
    border-radius: 4px;
    color: var(--white-color);
    opacity: 70%;
}

.input-border::placeholder {
    color: var(--white-color);
    opacity: 70%;
}


.slick-slide>div {
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
}

.media_app {
    width: 32px;
    height: 32px;
    background: linear-gradient(146.79deg, #F4EAD8 0%, #E0B764 97.77%);
    border-radius: 50%;
}

.hidden-txt {
    display: none;
}

.accrodian-border {
    position: relative;
}

.max-w-730 {
    max-width: 730px;
}

.sideline {
    opacity: 0;
}

.histry_card_border {
    border-top: 1px solid rgba(255, 255, 255, 0.32);
    border-bottom: 1px solid rgba(255, 255, 255, 0.32);
    border-right: 1px solid rgba(255, 255, 255, 0.32);
}

.histry_brdr_top {
    border-top: 1px solid rgba(255, 255, 255, 0.32);
}

.histry_card_left_bottom {
    border-bottom: 1px solid rgba(255, 255, 255, 0.32);
    border-right: 1px solid rgba(255, 255, 255, 0.32);
}

.bodr-botm {
    border-bottom: 2px solid rgba(0, 0, 0, 0.24);
}

.heading_color {
    color: rgba(252, 249, 246, 1);
}

.detail-sec {
    transform: translateY(-30%);
}

.svg-icon-box {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    background: var(--img-bg-color);

}


.txt-color {
    background: -webkit-linear-gradient(146.79deg, #F4EAD8 0%, #E0B764 97.77%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


.submit_btn {
    position: relative;
    border: none;
    height: 50px;
}

.nav_links {
    transition: all 300ms linear;
    position: relative;
    padding-bottom: 5px;
}

.gif-section-bg-color {
    background: linear-gradient(140.31deg, rgba(198, 177, 139, 0.6) -25.54%, rgba(255, 187, 0, 0.144) 54.57%, rgba(255, 164, 0, 0.6) 136.37%);
    border-radius: 16px;
}

.gif-icon {
    bottom: 16px;
    left: 20px;
}

.onClickSdow {
    box-shadow: 0px 0px 20px 4px rgba(216, 216, 216, 0.25);
    border-radius: 16px;
}

.play-btn {
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 4px;
    padding-bottom: 4px;
    cursor: pointer;
    position: absolute;
    bottom: 12px;
    right: 12px;
    border-radius: 4px;
    background: linear-gradient(146.79deg, #F4EAD8 0%, #E0B764 97.77%);
}

.min-h-276 {
    min-height: 276px;
}

.max-w-524 {
    max-width: 524px;
}

.card_border {
    position: relative !important;
    border-radius: 16px;
    height: 276px;
    max-width: 535px;
    transition: all 250ms linear;
}

.about-content {
    position: relative;
}

.w-h-40 {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    position: relative;
}

.prev {
    top: 64%;
    left: 0;
}

.footer-links {
    position: relative;

}

.next {
    top: 64%;
    right: 0;
}

.svg-bg {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: linear-gradient(146.26deg, #EEDDBF 6.74%, #C78A11 110.03%);
    display: flex;
    align-items: center;
    justify-content: center;
}

.corona_sec-gradient {
    background: -webkit-linear-gradient(146.26deg, #EEDDBF 6.74%, #C78A11 110.03%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.preloader {
    position: fixed;
    width: 100%;
    height: 105%;
    top: 0;
    right: 0;
    background: var(--img-bg-color);
    z-index: 100;
}
.txt-shdow {
    text-shadow: 0px 0px 15px var(--primary-color);
    animation: txt 1s infinite;
}

.preloader_logo {
    animation: logo 2s infinite;
}

.prize_txt_color {
    color: rgba(215, 200, 174, 1);
}

.max-w-662 {
    max-width: 662px;
}

.tab-card {
    padding-left: 32px;
    padding-right: 32px;
    padding-top: 18px;
    padding-bottom: 18px;
    position: relative;
    max-width: 485px;
}

/*++++++++++++++++++++++++++++++++++++++++ container++++++++++++++++++++++++++++++++ */
.hero_container {
    max-width: 1140px;
    padding-left: 12px;
    padding-right: 12px;
    margin-left: auto;
    margin-right: auto;
}

.container-gif {
    max-width: 948px;
    padding-left: 12px;
    padding-right: 12px;
    margin-left: auto;
    margin-right: auto;
}



/*+++++++++++++++++++++++++++++++++ backgroung img ++++++++++++++++++++++++++++++++++++++++++++*/
.hero_bg_img {
    background-image: url("../img/png/hero-section-bg-img.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.slider-bg-img {
    background-image: url("../img/png/slick-slider-bg-img.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.timeline-bg-img {
    background-image: url("../img/png/timeline_bg_img.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.The_Corona_Civica_bg_img {
    background-image: url("../img/png/The_Corona_Civica_bg_img.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.bg_02_img {
    background-image: url("../img/png/02_img.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.bg_01_img {
    background-image: url("../img/png/01_img.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.bg_03_img {
    background-image: url("../img/png/03_img.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.sec_timeline-bg-img {
    background-image: url("../img/png/sec_timeline.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.history_bg_img {
    background-image: url("../img/png/why_history_bg_img.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

/*+++++++++++++++++++++++++++++++++++++++++++ spacing ++++++++++++++++++++++++++++++++++++++++++*/

.pb-90 {
    padding-bottom: 90px;
}

.p_40 {
    padding: 40px;
}

.mt_20 {
    margin-top: 20px;
}

.pt_150 {
    padding-top: 150px;
}

.pt_125 {
    padding-top: 125px;
}

.pb_156 {
    padding-bottom: 156px;
}

.pb_65 {
    padding-bottom: 65px;
}

.pb_20 {
    padding-bottom: 20px;
}

.pt_20 {
    padding-top: 20px;
}

.mt_117 {
    margin-top: 117px;
}

.p-22-22-54 {
    padding: 54px 22px 0px 22px;
}

.pb_120 {
    padding-bottom: 120px;
}

.py-100 {
    padding-top: 100px;
    padding-bottom: 100px;
}

.pt_91 {
    padding-top: 91px;
}

.mt_44 {
    margin-top: 44px;
}

.gap_36 {
    gap: 36px;
}

.py_30 {
    padding-top: 30px;
    padding-bottom: 30px;
}

.py_130 {
    padding-top: 130px;
    padding-bottom: 130px;
}

.mt_32 {
    margin-top: 32px;
}

.pt_120 {
    padding-top: 120px;
}

.pt_64 {
    padding-top: 64px;
}

/*+++++++++++++++++++++++++++++++++++++++ after before +++++++++++++++++++++++++++++++++++++++++++++*/
.submit_btn::before {
    content: "";
    position: absolute;
    bottom: 0;
    height: 1px;
    background: linear-gradient(146.79deg, #F4EAD8 0%, #E0B764 97.77%);
    left: 0;
    width: 100%;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
}

.footer-links::before {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    background: linear-gradient(146.79deg, #F4EAD8 0%, #E0B764 97.77%);
    bottom: 0;
    transform: translateX(-50%);
    left: 50%;
    transition: all 300ms linear;
}

.tab-card::before {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 16px;
    padding-left: 1px;
    background: linear-gradient(146.26deg, rgba(238, 221, 191, 0.32) 6.74%, rgba(199, 138, 17, 0.32) 110.03%);
    -webkit-mask: linear-gradient(#fff 0 0) content-box,
        linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
    pointer-events: none;
}

.w-h-40::before {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 50%;
    padding: 3px;
    background: linear-gradient(146.79deg, #F4EAD8 0%, #E0B764 97.77%);
    -webkit-mask: linear-gradient(#fff 0 0) content-box,
        linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
    pointer-events: none;
}

.onClickSdow::before {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 16px;
    padding: 1px;
    background: linear-gradient(146.26deg, rgba(238, 221, 191, 0.32) 6.74%, rgba(199, 138, 17, 0.32) 110.03%);
    -webkit-mask: linear-gradient(#fff 0 0) content-box,
        linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
    pointer-events: none;
}

.about-content::before {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 16px;
    padding: 1px;
    background: linear-gradient(146.26deg, rgba(238, 221, 191, 0.32) 6.74%, rgba(199, 138, 17, 0.32) 110.03%);
    -webkit-mask: linear-gradient(#fff 0 0) content-box,
        linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
    pointer-events: none;
}

.accrodian-border::before {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 16px;
    padding: 1px;
    background: linear-gradient(146.26deg, rgba(238, 221, 191, 0.32) 6.74%, rgba(199, 138, 17, 0.32) 110.03%);
    -webkit-mask: linear-gradient(#fff 0 0) content-box,
        linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
    pointer-events: none;
}

.card_border::before {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 16px;
    padding: 1px;
    background: linear-gradient(146.26deg, rgba(238, 221, 191, 0.32) 6.74%, rgba(199, 138, 17, 0.32) 110.03%);
    -webkit-mask: linear-gradient(#fff 0 0) content-box,
        linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
    pointer-events: none;
}

.nav_links::before {
    content: "";
    width: 0;
    height: 2px;
    background: linear-gradient(146.79deg, #F4EAD8 0%, #E0B764 97.77%);
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    transition: all 300ms linear;
}


/*++++++++++++++++++++++++++++++++++++++++++++ hover +++++++++++++++++++++++++++++++++++++++++*/
.submit_btn:hover .arrow {
    transform: translateX(5px);
}

.scroll_to_top:hover {
    box-shadow: -1px 1px 5px 5px var(--primary-color);
    background-color: var(--color-white);
}

.media_app:hover {
    transform: scale(1.1);
}


.nav_links:hover {
    opacity: 1 !important;
}

.footer-links:hover::before {
    width: 100%;
}

.footer-links:hover {
    opacity: 1 !important;
}

.nav_links:hover::before {
    width: 100%;
}

.card_border:hover {
    background-color: rgba(202, 153, 68, 0.24);
}

.card_border:hover::before {
    padding: 0 !important;
}


/* timeline -------------------*/
.history-tl-container {
    max-width: 1140px;
    margin: auto;
    display: block;
    position: relative;
}

.history-tl-container ul.tl {
    margin: 20px 0;
    padding: 0;
    display: inline-block;

}

.history-tl-container ul.tl li {
    list-style: none;
    margin: auto;
    min-height: 50px;
    padding: 0 0 50px 30px;
    position: relative;
    left: 15%;
}

.history-tl-container ul.tl li:last-child {
    border-left: 0;
}


.history-tl-container ul.tl li::before {
    position: absolute;
    left: 6px;
    top: -5px;
    content: "";
    background-image: url("../img/png/timeline_icon.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 40px;
    width: 40px;
    transition: all 500ms ease-in-out;
    z-index: 2;

}

.history-tl-container ul.tl li:hover::before {
    border-color: #258CC7;
    transition: all 1000ms ease-in-out;
}


ul.tl li .item-detail {
    color: rgba(0, 0, 0, 0.5);
    font-size: 12px;
    padding-bottom: 10px;
}


ul.tl li .timestamp {
    position: absolute;
    width: 100px;
    left: -18%;

}

.max-w-1120 {
    max-width: 1120px !important;
}

.tl {
    position: relative;
}

.timeline_icon::after {
    content: "";
    position: absolute;
    top: 0;
    left: 6px;
    background-image: url("../img/png/timeline_icon.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 40px;
    height: 40px;
}

.tl::after {
    content: "";
    width: 1px;
    top: 0;
    bottom: 0;
    background: linear-gradient(146.79deg, #F4EAD8 0%, #E0B764 97.77%);
    position: absolute;
    bottom: -50px;
    left: 25px;
}

.timeline-heading {
    background: -webkit-linear-gradient(146.79deg, #F4EAD8 0%, #E0B764 97.77%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}




.after-bottom {
    position: relative;
}

.after-bottom::before {
    position: absolute;
    content: "";
    bottom: -16px;
    /* width: 100%; */
    height: 1px;
    background-color: rgba(215, 200, 174, 0.32);
    left: 20px;
    right: 20px;
}


/*------------------------ animation -----------------------------------*/
@keyframes logo {
    .25% {
        transform: translateY(20px);
    }

    .50% {
        transform: translateX(20px);
    }

    .75% {
        transform: translateY(-20px);
    }

    .100% {
        transform: translateX(20px);
    }
}

@keyframes toTop {
    50% {
        transform: translateY(4px);
    }

    100% {
        transform: translate(0px);
    }
}

@keyframes txt {
    .0% {
        transform: scale(0);
    }

    .25% {
        transform: scale(1);
    }

    .50% {
        transform: scale(1.5);
    }

    .100% {
        transform: scale(0);
    }
}