@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap');

@font-face {
    font-family: Helvetica;
    src: url("../fonts/Helvetica.ttf");
}

@import url("../css/root.css");

/* -------------------------------unviversal selector---------------------------------------- */
* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none !important;
    list-style: none !important;
    /* transition: all 400ms linear !important; */
}

/* ---------------------------------------------root------------------------------------------- */
:root {
    --ff-eb: "EB Garamond",
        serif;
    --ff-hl: Helvetica;

    --fw-3: 300;
    --fw-4: 400;
    --fw-5: 500;
    --fw-6: 600;
    --fw-7: 700;
    --fw-8: 800;


    --black-color: #000000;
    --white-color: #ffff;
    --img-bg-color: linear-gradient(146.79deg, #F4EAD8 0%, #E0B764 97.77%);

    --fs-10: 10px;
    --fs-14: 14px;
    --fs-15: 15px;
    --fs-16: 16px;
    --fs-18: 18px;
    --fs-20: 20px;
    --fs-21: 21px;
    --fs-24: 24px;
    --fs-25: 25px;
    --fs-28: 28px;
    --fs-30: 30px;
    --fs-32: 32px;
    --fs-36: 36px;
    --fs-40: 40px;
    --fs-44: 44px;
    --fs-48: 48px;
    --fs-50: 50px;
    --fs-52: 52px;
    --fs-60: 60px;
    --fs-61: 61px;
    --fs-64: 64px;
    --fs-70: 70px;
    --fs-72: 72px;
    --fs-80: 80px;
    --fs-157: 157px;


    --lh-16: 16px;
    --lh-19: 19px;
    --lh-21: 21px;
    --lh-20: 20px;
    --lh-23: 23px;
    --lh-24: 24px;
    --lh-26: 26px;
    --lh-27: 27px;
    --lh-28: 28px;
    --lh-29: 29px;
    --lh-30: 30px;
    --lh-32: 32px;
    --lh-35: 35px;
    --lh-37: 37px;
    --lh-39: 39px;
    --lh-40: 40px;
    --lh-41: 41px;
    --lh-42: 42px;
    --lh-45: 45px;
    --lh-49: 49px;
    --lh-54: 54px;
    --lh-56: 56px;
    --lh-61: 61px;
    --lh-68: 68px;
    --lh-72: 72px;
    --lh-75: 75px;
    --lh-83: 83px;
    --lh-86: 86px;
    --lh-100: 100px;
    --lh-188: 188px;

}

/* ---------------------root specified ------------------------------*/

.black {
    color: var(--black-color);
}

.curser {
    cursor: pointer;
}


.lh-26 {
    line-height: var(--lh-26);
}

.lh-23 {
    line-height: var(--lh-23);
}

.lh-45 {
    line-height: var(--lh-45);
}

.lh-42 {
    line-height: var(--lh-42);
}

.lh-30 {
    line-height: var(--lh-30);
}

.lh-35 {
    line-height: var(--lh-35)
}

.lh-16 {
    line-height: var(--lh-16);
}

.lh-61 {
    line-height: var(--lh-61);
}

.lh-40 {
    line-height: var(--lh-40);

}

.lh-68 {
    line-height: var(--lh-68);
}

.lh-37 {
    line-height: var(--lh-37);
}

.lh-41 {
    line-height: var(--lh-41);
}

.lh-19 {
    line-height: var(--lh-19);
}

.lh-24 {
    line-height: var(--lh-24);
}

.lh-29 {
    line-height: var(--lh-29);
}

.lh-20 {
    line-height: var(--lh-20);
}

.lh-21 {
    line-height: var(--lh-21);
}

.lh-83 {
    line-height: var(--lh-83);
}

.lh-54 {
    line-height: var(--lh-54);
}

.lh-56 {
    line-height: var(--lh-56);
}


.lh-32 {
    line-height: var(--lh-32);
}

.lh-86 {
    line-height: var(--lh-86);
}

.lh-72 {
    line-height: var(--lh-72);
}

.lh-75 {
    line-height: var(--lh-75);
}

.lh-39 {
    line-height: var(--lh-39);
}

.lh-27 {
    line-height: var(--lh-27);
}

.lh-28 {
    line-height: var(--lh-28);
}

.lh-49 {
    line-height: var(--lh-49);
}

.lh-188 {
    line-height: var(--lh-188);
}

.lh-100 {
    line-height: var(--lh-100);
}

.fw-4 {
    font-weight: var(--fw-4);
}

.fw-5 {
    font-weight: var(--fw-5);
}

.fw-8 {
    font-weight: var(--fw-8);
}

.fw-6 {
    font-weight: var(--fw-6);
}

.fw-7 {
    font-weight: var(--fw-7);
}

.fw-3 {
    font-weight: var(--fw-3);
}

.fs-14 {
    font-size: var(--fs-14);
}

.fs-15 {
    font-size: var(--fs-15);
}

.fs-48 {
    font-size: var(--fs-48);
}

.fs-32 {
    font-size: var(--fs-32);
}

.fs-25 {
    font-size: var(--fs-25);
}

.fs-28 {
    font-size: var(--fs-28);
}

.fs-50 {
    font-size: var(--fs-50);
}

.fs-44 {
    font-size: var(--fs-44);
}

.fs-64 {
    font-size: var(--fs-64);
}

.fs-16 {
    font-size: var(--fs-16);
}

.fs-61 {
    font-size: var(--fs-61);
}

.fs-18 {
    font-size: var(--fs-18);
}

.fs-24 {
    font-size: var(--fs-24);
}

.fs-10 {
    font-size: var(--fs-10);
}

.fs-52 {
    font-size: var(--fs-52);
}

.fs-40 {
    font-size: var(--fs-40);
}

.fs-36 {
    font-size: var(--fs-36);
}

.fs-72 {
    font-size: var(--fs-72);
}

.fs-157 {
    font-size: var(--fs-157);
}

.fs-20 {
    font-size: var(--fs-20);
}

.fs-30 {
    font-size: var(--fs-30);
}

.fs-80 {
    font-size: var(--fs-80);
}

.fs-21 {
    font-size: var(--fs-21);
}

.fs-70 {
    font-size: var(--fs-70);
}

.white {
    color: var(--white-color);
}

.ff-ed {
    font-family: var(--ff-eb);
}

.ff-hl {
    font-family: var(--ff-hl);
}

/*++++++++++++++++++++++++++++++++++++++ normal css +++++++++++++++++++++++++++++++++++++++++++*/
.max-w_436 {
    max-width: 436px;
}

.hidden-txt {
    display: none;
}

.accrodian-border {
    position: relative;
}

.max-w-730 {
    max-width: 730px;
}

.sideline {
    opacity: 0;
}

.histry_card_border {
    border-top: 1px solid rgba(255, 255, 255, 0.32);
    border-bottom: 1px solid rgba(255, 255, 255, 0.32);
    border-right: 1px solid rgba(255, 255, 255, 0.32);
}

.histry_brdr_top {
    border-top: 1px solid rgba(255, 255, 255, 0.32);
}

.histry_card_left_bottom {
    border-bottom: 1px solid rgba(255, 255, 255, 0.32);
    border-right: 1px solid rgba(255, 255, 255, 0.32);
}

.bodr-botm {
    border-bottom: 2px solid rgba(0, 0, 0, 0.24);
}

.heading_color {
    color: rgba(252, 249, 246, 1);
}

.detail-sec {
    transform: translateY(-30%);
}

.svg-icon-box {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    background: var(--img-bg-color);

}


.txt-color {
    background: -webkit-linear-gradient(146.79deg, #F4EAD8 0%, #E0B764 97.77%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


.submit_btn {
    position: relative;
    border: none;
    height: 50px;
}

.nav_links {
    transition: all 300ms linear;
    position: relative;
    padding-bottom: 5px;
}

.gif-section-bg-color {
    background: linear-gradient(140.31deg, rgba(198, 177, 139, 0.6) -25.54%, rgba(255, 187, 0, 0.144) 54.57%, rgba(255, 164, 0, 0.6) 136.37%);
    border-radius: 16px;
}

.gif-icon {
    bottom: 16px;
    left: 20px;
}

.onClickSdow {
    box-shadow: 0px 0px 20px 4px rgba(216, 216, 216, 0.25);
    border-radius: 16px;
}

.play-btn {
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 4px;
    padding-bottom: 4px;
    cursor: pointer;
    position: absolute;
    bottom: 12px;
    right: 12px;
    border-radius: 4px;
    background: linear-gradient(146.79deg, #F4EAD8 0%, #E0B764 97.77%);
}

.min-h-276 {
    min-height: 276px;
}

.max-w-524 {
    max-width: 524px;
}

.card_border {
    position: relative !important;
    border-radius: 16px;
    height: 276px;
    max-width: 535px;
    transition: all 250ms linear;
}



.svg-bg {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: linear-gradient(146.26deg, #EEDDBF 6.74%, #C78A11 110.03%);
    display: flex;
    align-items: center;
    justify-content: center;
}

.corona_sec-gradient {
    background: -webkit-linear-gradient(146.26deg, #EEDDBF 6.74%, #C78A11 110.03%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.prize_txt_color {
    color: rgba(215, 200, 174, 1);
}

.max-w-662 {
    max-width: 662px;
}

.tab-card {
    padding-left: 32px;
    padding-right: 32px;
    padding-top: 18px;
    padding-bottom: 18px;
    position: relative;
    max-width: 485px;
}

/*++++++++++++++++++++++++++++++++++++++++ container++++++++++++++++++++++++++++++++ */
.hero_container {
    max-width: 1140px;
    padding-left: 12px;
    padding-right: 12px;
    margin-left: auto;
    margin-right: auto;
}

.container-gif {
    max-width: 948px;
    padding-left: 12px;
    padding-right: 12px;
    margin-left: auto;
    margin-right: auto;
}



/*+++++++++++++++++++++++++++++++++ backgroung img ++++++++++++++++++++++++++++++++++++++++++++*/
.hero_bg_img {
    background-image: url("../img/png/hero-section-bg-img.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.timeline-bg-img {
    background-image: url("../img/png/timeline_bg_img.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.The_Corona_Civica_bg_img {
    background-image: url("../img/png/The_Corona_Civica_bg_img.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.bg_02_img {
    background-image: url("../img/png/02_img.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.bg_01_img {
    background-image: url("../img/png/01_img.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.bg_03_img {
    background-image: url("../img/png/03_img.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.sec_timeline-bg-img {
    background-image: url("../img/png/sec_timeline.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.history_bg_img {
    background-image: url("../img/png/why_history_bg_img.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

/*+++++++++++++++++++++++++++++++++++++++++++ spacing ++++++++++++++++++++++++++++++++++++++++++*/

.pb-90 {
    padding-bottom: 90px;
}

.pt_150 {
    padding-top: 150px;
}

.pt_125 {
    padding-top: 125px;
}

.pb_156 {
    padding-bottom: 156px;
}

.pb_65 {
    padding-bottom: 65px;
}

.pb_20 {
    padding-bottom: 20px;
}

.pt_20 {
    padding-top: 20px;
}

.mt_117 {
    margin-top: 117px;
}

.p-22-22-54 {
    padding: 54px 22px 0px 22px;
}

.pb_120 {
    padding-bottom: 120px;
}

.py-100 {
    padding-top: 100px;
    padding-bottom: 100px;
}

.pt_91 {
    padding-top: 91px;
}

.mt_44 {
    margin-top: 44px;
}

.gap_36 {
    gap: 36px;
}

.py_30 {
    padding-top: 30px;
    padding-bottom: 30px;
}

.py_130 {
    padding-top: 130px;
    padding-bottom: 130px;
}

.mt_32 {
    margin-top: 32px;
}

.pt_120 {
    padding-top: 120px;
}

.pt_64 {
    padding-top: 64px;
}

/*+++++++++++++++++++++++++++++++++++++++ after before +++++++++++++++++++++++++++++++++++++++++++++*/
.submit_btn::before {
    content: "";
    position: absolute;
    bottom: 0;
    height: 1px;
    background: linear-gradient(146.79deg, #F4EAD8 0%, #E0B764 97.77%);
    left: 0;
    width: 100%;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
}

.tab-card::before {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 16px;
    padding-left: 1px;
    background: linear-gradient(146.26deg, rgba(238, 221, 191, 0.32) 6.74%, rgba(199, 138, 17, 0.32) 110.03%);
    -webkit-mask: linear-gradient(#fff 0 0) content-box,
        linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
    pointer-events: none;
}

.onClickSdow::before {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 16px;
    padding: 1px;
    background: linear-gradient(146.26deg, rgba(238, 221, 191, 0.32) 6.74%, rgba(199, 138, 17, 0.32) 110.03%);
    -webkit-mask: linear-gradient(#fff 0 0) content-box,
        linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
    pointer-events: none;
}

.accrodian-border::before {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 16px;
    padding: 1px;
    background: linear-gradient(146.26deg, rgba(238, 221, 191, 0.32) 6.74%, rgba(199, 138, 17, 0.32) 110.03%);
    -webkit-mask: linear-gradient(#fff 0 0) content-box,
        linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
    pointer-events: none;
}

.card_border::before {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 16px;
    padding: 1px;
    background: linear-gradient(146.26deg, rgba(238, 221, 191, 0.32) 6.74%, rgba(199, 138, 17, 0.32) 110.03%);
    -webkit-mask: linear-gradient(#fff 0 0) content-box,
        linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
    pointer-events: none;
}

.nav_links::before {
    content: "";
    width: 0;
    height: 2px;
    background: linear-gradient(146.79deg, #F4EAD8 0%, #E0B764 97.77%);
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    transition: all 300ms linear;
}


/*++++++++++++++++++++++++++++++++++++++++++++ hover +++++++++++++++++++++++++++++++++++++++++*/
.submit_btn:hover .arrow {
    transform: translateX(5px);
}

.nav_links:hover {
    opacity: 1 !important;
}

.nav_links:hover::before {
    width: 100%;
}

.card_border:hover {
    background-color: rgba(202, 153, 68, 0.24);
}

.card_border:hover::before {
    padding: 0 !important;
}


/* timeline -------------------*/
.history-tl-container {
    max-width: 1140px;
    margin: auto;
    display: block;
    position: relative;
}

.history-tl-container ul.tl {
    margin: 20px 0;
    padding: 0;
    display: inline-block;

}

.history-tl-container ul.tl li {
    list-style: none;
    margin: auto;
    min-height: 50px;
    padding: 0 0 50px 30px;
    position: relative;
    left: 15%;
}

.history-tl-container ul.tl li:last-child {
    border-left: 0;
}


.history-tl-container ul.tl li::before {
    position: absolute;
    left: 6px;
    top: -5px;
    content: "";
    background-image: url("../img/png/timeline_icon.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 40px;
    width: 40px;
    transition: all 500ms ease-in-out;
    z-index: 2;

}

.history-tl-container ul.tl li:hover::before {
    border-color: #258CC7;
    transition: all 1000ms ease-in-out;
}


ul.tl li .item-detail {
    color: rgba(0, 0, 0, 0.5);
    font-size: 12px;
    padding-bottom: 10px;
}


ul.tl li .timestamp {
    position: absolute;
    width: 100px;
    left: -18%;

}

.max-w-1120 {
    max-width: 1120px !important;
}

.tl {
    position: relative;
}

.timeline_icon::after {
    content: "";
    position: absolute;
    top: 0;
    left: 6px;
    background-image: url("../img/png/timeline_icon.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 40px;
    height: 40px;
}

.tl::after {
    content: "";
    width: 1px;
    top: 0;
    bottom: 0;
    background: linear-gradient(146.79deg, #F4EAD8 0%, #E0B764 97.77%);
    position: absolute;
    bottom: -50px;
    left: 25px;
}

.timeline-heading {
    background: -webkit-linear-gradient(146.79deg, #F4EAD8 0%, #E0B764 97.77%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}




.after-bottom {
    position: relative;
}

.after-bottom::before {
    position: absolute;
    content: "";
    bottom: -16px;
    /* width: 100%; */
    height: 1px;
    background-color: rgba(215, 200, 174, 0.32);
    left: 20px;
    right: 20px;
}